@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-primary: #800020;
  --color-primary-hover: oklch(0.38 0.1523 18.62 / 25%);
  --color-background: #f1f1f1;
  --color-primary-neutral: #2d3234;
  --color-secondary-neutral: #a9b2b5;

  --color-good-accent: #028f76;
  --color-good-accent-light: #02a488;
  --color-good-accent-dark: #027a64;

  --color-medium-accent: #f0a202;
  --color-medium-accent-light: #ffba02;
  --color-medium-accent-dark: #cc8a02;

  --color-bad-accent: #e65100;
  --color-bad-accent-light: #ff7b5a;
  --color-bad-accent-dark: #be5b42;

  --color-bad-accent: #e06b4e;

  --spacing-edge: 38px;
}

@layer components {
  .app-container {
    padding: var(--spacing-edge);
    color: var(--color-primary-neutral);
  }

  .search-bar {
    box-shadow: 5px 5px 10px 0px #a6a6a6 inset, -5px -5px 10px 0px #ffffff inset;
  }

  .card {
    background-color: var(--color-background);
    box-shadow: 10px 10px 20px 0px #a6a6a6, -10px -10px 20px 0px #ffffff;
  }
  .good-inset {
    box-shadow: 3px 3px 6px 0px #a6a6a6, -3px -3px 6px 0px #ffffff,
      5px 5px 10px 0px #027a64 inset, -5px -5px 10px 0px #02a488 inset;
  }
  .medium-inset {
    box-shadow: 3px 3px 6px 0px #a6a6a6, -3px -3px 6px 0px #ffffff,
      5px 5px 10px 0px #cc8a02 inset, -5px -5px 10px 0px #ffba02 inset;
  }
  .bad-inset {
    box-shadow: 3px 3px 6px 0px #a6a6a6, -3px -3px 6px 0px #ffffff,
      5px 5px 10px 0px #be5b42 inset, -5px -5px 10px 0px #ff7b5a inset;
  }
}
